In [130]:
import pandas as pd

df = pd.read_csv (r'C:\Users\oluoy\Downloads\Hamoye\FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding= "latin-1")
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [10]:
#Question 1 
#Standard Deviation for Year 2017
df.std()['Y2017'].round(2)

C:\Users\oluoy\AppData\Local\Temp\ipykernel_21148\3140760443.py:3: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.std()['Y2017'].round(2)

1671.86

In [8]:
#Question 1
#Mean for Year 2017
df.mean()['Y2017'].round(2)

C:\Users\oluoy\AppData\Local\Temp\ipykernel_21148\3187868501.py:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()['Y2017'].round(2)

140.92

In [6]:
# Question 2
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [47]:
#Question 3

stock_variation_df = df[df['Element'] == 'Stock Variation']
sum_stock_variation_by_year = stock_variation_df.groupby('Element')['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'].sum()
year_total_sum = sum_stock_variation_by_year.sum()


print (year_total_sum['Y2014'])

58749.83

C:\Users\oluoy\AppData\Local\Temp\ipykernel_21148\1458393849.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  sum_stock_variation_by_year = stock_variation_df.groupby('Element')['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'].sum()

In [14]:
#Question 4

processing_df = df[df['Element'] == 'Processing']

sum_processing_2017 = processing_df['Y2017'].sum()

print ('Total Processing:', sum_processing_2017)

Total Processing: 292836.0

In [117]:
#Question 5 - What is the total Protein supply quantity in Madagascar in 2015?
madagascar_df = df[df['Area'] == 'Madagascar']
protein_supply_df = df[df['Element'] == 'Protein Supply']

madagascar_protein_supply = pd.concat([madagascar_df, protein_supply_df]).reset_index(drop=True)

supply_madagascar_2015 = madagascar_protein_supply ['Y2015'].sum()

print (supply_madagascar_2015)

126674.9

In [88]:
# Question 6 - What is the total number of unique countries in the dataset?

df.nunique()['Area']

49

In [92]:
# Question 7 - 

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

pd.DataFrame (lst, columns = col, index = [1,2,3])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [119]:
# Question 9 - Consider the following list of tuples: y = [(2, 4), (7, 8), (1, 5, 9)], 
# How would you assign element 8 from the list to a variable x?

y = [(2, 4), 
     (7, 8), 
     (1, 5, 9)]
x = y[1][1]

print (x)

8

In [238]:
# Question 11 - Select columns â€˜Y2017â€™ and â€˜Areaâ€™, Perform a groupby operation on â€˜Areaâ€™.  
# Which of these Areas had the 7th lowest sum in 2017?

#Select the 2 columns
selected_columns = df[['Area', 'Y2017']]
#Group the columns by their sums
sum_2017_area = selected_columns.groupby('Area')['Y2017'].sum()
#rank the areas according to their sum values
sum_2017_area_rank = sum_2017_area.sort_values()
#select the 7th lowest name and sum

seventh_lowest_area_name = sum_2017_area_rank.index[6]  

print('Area with 7th Lowest Sum in 2017 is -', seventh_lowest_area_name)

#Indexing starts from 0, so 6 is the 7th lowest.

Area with 7th Lowest Sum in 2017 is - Guinea-Bissau

In [203]:
# Quesion 12 - Which year had the least correlation with â€˜Element Codeâ€™?

#Select the columns
selected_columns = df[['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']]

#calculate the correlation between each year and element code

correlation_elementcode_year = selected_columns.corr().loc['Element Code']

#rank year with least correlation with 'Element Code'
year_elementcode_correlation_rank = correlation_elementcode_year.sort_values()

# Find the year with the least correlation
year_least_correlation = year_elementcode_correlation_rank.idxmin()

print (year_least_correlation)

Y2016

In [212]:
# Question 13 - Given the following numpy array, How would you select  the elements in bold and italics from the array?

import numpy as np

array  = np.array([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

# select elements in blod and italics

selected_elements = [array[0, 1], array[1, 0], array[2, 1]]

print("Selected elements:", selected_elements)

Selected elements: [89, 93, 94]

In [216]:
# Question 14 - What is the total sum of Wine produced in 2015 and 2018 respectively?

wine_df = df[df['Item'] == 'Wine']

sum_wine_by_year = wine_df.groupby('Item')['Y2015', 'Y2018'].sum()
total_sum_peryear = sum_wine_by_year.sum()


print (total_sum_peryear)

Y2015    4251.81
Y2018    4039.32
dtype: float64

C:\Users\oluoy\AppData\Local\Temp\ipykernel_21148\2033118825.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  sum_wine_by_year = wine_df.groupby('Item')['Y2015', 'Y2018'].sum()

In [217]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [247]:
# Question 17 - Select columns â€˜Y2017â€™ and â€˜Areaâ€™, Perform a groupby operation on â€˜Areaâ€™. 
# Which of these Areas had the highest sum in 2017?

#Select the 2 columns
selected_columns = df[['Area', 'Y2017']]
#Group the columns by their sums
sum_2017_area = selected_columns.groupby('Area')['Y2017'].sum()
#rank the areas according to their sum values
sum_2017_area_rank = sum_2017_area.sort_values(ascending = False)

#select the highest name and sum
seventh_highest_area_name = sum_2017_area_rank.idxmax()  
seventh_highest_area = sum_2017_area_rank.iloc[0]
print('Area with 7th Highest Sum in 2017 is -', seventh_highest_area_name,':', seventh_highest_area)

Area with 7th Highest Sum in 2017 is - Nigeria : 1483268.23

In [276]:
# Question 20 - What is the total number and percentage of missing data in 2014 to 3 decimal places?

total_missing_data_2014 = df ['Y2014'].isnull().sum()

total_present_data_2014 = len(df['Y2014'])

percentage_missing_data = (total_missing_data_2014/total_present_data_2014)*100

print('Total number of Missing Data:',total_missing_data_2014)
print ('Percentage of Missing Data:',percentage_missing_data.round(2))

Total number of Missing Data: 1589
Percentage of Missing Data: 2.61